flows.json
[
    {
        "id": "629533657b8ed4f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "24028c63778d65cc",
        "type": "ui_button",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "b96e4892393a84b2",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Manual",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#29FFF9",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "be78ef58824b6917",
                "9313a4d9140bb602"
            ]
        ]
    },
    {
        "id": "0d51e58460ab0149",
        "type": "ui_button",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "b96e4892393a84b2",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Auto",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#FA3636",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "be78ef58824b6917",
                "449f223d7d705584"
            ]
        ]
    },
    {
        "id": "6276cb78c8783a37",
        "type": "ui_button",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "b96e4892393a84b2",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Led OFF",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#C6FFFF",
        "className": "",
        "icon": "",
        "payload": "field1=0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "fa654dfb3b587cf8",
                "98c1bbf3d73a2946"
            ]
        ]
    },
    {
        "id": "c3df2df32eccb1da",
        "type": "ui_button",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "b96e4892393a84b2",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Led ON",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#C6FFFF",
        "className": "",
        "icon": "",
        "payload": "field1=1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "98c1bbf3d73a2946",
                "fa654dfb3b587cf8"
            ]
        ]
    },
    {
        "id": "fa654dfb3b587cf8",
        "type": "mqtt out",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271746/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81c60148ef0e94b6",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "98c1bbf3d73a2946",
        "type": "debug",
        "z": "629533657b8ed4f8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "be78ef58824b6917",
        "type": "change",
        "z": "629533657b8ed4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "6276cb78c8783a37",
                "c3df2df32eccb1da"
            ]
        ]
    },
    {
        "id": "9313a4d9140bb602",
        "type": "function",
        "z": "629533657b8ed4f8",
        "name": "Up led Manual",
        "func": "msg.payload=\"field2=0\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "fa654dfb3b587cf8"
            ]
        ]
    },
    {
        "id": "449f223d7d705584",
        "type": "function",
        "z": "629533657b8ed4f8",
        "name": "Up led Auto",
        "func": "msg.payload=\"field2=1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "fa654dfb3b587cf8"
            ]
        ]
    },
    {
        "id": "faae9cb44a7e5028",
        "type": "inject",
        "z": "629533657b8ed4f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "c2e98f96431aae58",
                "977b16628c3baba1"
            ]
        ]
    },
    {
        "id": "c2e98f96431aae58",
        "type": "ui_clock",
        "z": "629533657b8ed4f8",
        "name": "Time",
        "group": "b96e4892393a84b2",
        "order": 8,
        "width": 3,
        "height": 2,
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ed4191cedd03ed0",
        "type": "ui_text",
        "z": "629533657b8ed4f8",
        "group": "b96e4892393a84b2",
        "order": 13,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": "18",
        "color": "#000000",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "977b16628c3baba1",
        "type": "function",
        "z": "629533657b8ed4f8",
        "name": "function 1",
        "func": "var timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\nreturn {\n    payload: time\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "1ed4191cedd03ed0"
            ]
        ]
    },
    {
        "id": "70a5e99c8b6158d4",
        "type": "mqtt in",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271746/subscribe/fields/field2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "81c60148ef0e94b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "ef4a46a73c31117f"
            ]
        ]
    },
    {
        "id": "fea1a99a0c2149ca",
        "type": "function",
        "z": "629533657b8ed4f8",
        "name": "function 2",
        "func": "if (msg.a==1)\n{\n    if (msg.b==1)\n    {\n        msg.payload=\"field1=1\"\n    } else msg.payload=\"field1=0\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 580,
        "wires": [
            [
                "04ccab6cb44963ac",
                "94543b945f8daec8"
            ]
        ]
    },
    {
        "id": "04ccab6cb44963ac",
        "type": "mqtt out",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271746/publish",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81c60148ef0e94b6",
        "x": 1270,
        "y": 580,
        "wires": []
    },
    {
        "id": "61bc5136a7b3a3ea",
        "type": "mqtt in",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271651/subscribe/fields/field3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4e23b91fd7ba889",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 640,
        "wires": [
            [
                "f536ee991f7a2541"
            ]
        ]
    },
    {
        "id": "d445734783835078",
        "type": "mqtt in",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271746/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "81c60148ef0e94b6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 740,
        "wires": [
            [
                "46ab5b169ccc8817"
            ]
        ]
    },
    {
        "id": "46ab5b169ccc8817",
        "type": "function",
        "z": "629533657b8ed4f8",
        "name": "function 4",
        "func": "if (msg.payload==\"1\")\n{\n    msg.topic=\"Led ON\"\n} else msg.topic=\"Led OFF\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 740,
        "wires": [
            [
                "105e8209b3acb562"
            ]
        ]
    },
    {
        "id": "105e8209b3acb562",
        "type": "ui_text",
        "z": "629533657b8ed4f8",
        "group": "b96e4892393a84b2",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "LED Status:",
        "format": "{{msg.topic}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "16",
        "color": "#000000",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "94543b945f8daec8",
        "type": "debug",
        "z": "629533657b8ed4f8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 660,
        "wires": []
    },
    {
        "id": "f536ee991f7a2541",
        "type": "switch",
        "z": "629533657b8ed4f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "18",
                "vt": "num",
                "v2": "22",
                "v2t": "num"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "dbfafcc10e4be096"
            ],
            [
                "fa068c098fc011f8"
            ]
        ]
    },
    {
        "id": "dbfafcc10e4be096",
        "type": "change",
        "z": "629533657b8ed4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "b",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 620,
        "wires": [
            [
                "fea1a99a0c2149ca"
            ]
        ]
    },
    {
        "id": "ef4a46a73c31117f",
        "type": "switch",
        "z": "629533657b8ed4f8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 500,
        "wires": [
            [
                "0ab6802fc8798997"
            ],
            [
                "472eb7315798d8a2"
            ]
        ]
    },
    {
        "id": "0ab6802fc8798997",
        "type": "change",
        "z": "629533657b8ed4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "a",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 500,
        "wires": [
            [
                "fea1a99a0c2149ca"
            ]
        ]
    },
    {
        "id": "472eb7315798d8a2",
        "type": "change",
        "z": "629533657b8ed4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "a",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 560,
        "wires": [
            [
                "fea1a99a0c2149ca"
            ]
        ]
    },
    {
        "id": "fa068c098fc011f8",
        "type": "change",
        "z": "629533657b8ed4f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "b",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "fea1a99a0c2149ca"
            ]
        ]
    },
    {
        "id": "4f8ec8e6a6a7bf8a",
        "type": "ui_chart",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "5c1e8099cfb2d710",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f0412d",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bcb4c713d9bce4b7",
        "type": "mqtt in",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271651/subscribe/fields/field1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4e23b91fd7ba889",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 60,
        "wires": [
            [
                "4f8ec8e6a6a7bf8a",
                "57101917c10bda64"
            ]
        ]
    },
    {
        "id": "57101917c10bda64",
        "type": "debug",
        "z": "629533657b8ed4f8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "c154fe834ec5c7f9",
        "type": "ui_chart",
        "z": "629533657b8ed4f8",
        "name": "",
        "group": "5c1e8099cfb2d710",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ffe014",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e8992addc31e3628",
        "type": "mqtt in",
        "z": "629533657b8ed4f8",
        "name": "",
        "topic": "channels/2271651/subscribe/fields/field2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c4e23b91fd7ba889",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "c154fe834ec5c7f9",
                "c7754509b1bc4030"
            ]
        ]
    },
    {
        "id": "c7754509b1bc4030",
        "type": "debug",
        "z": "629533657b8ed4f8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 260,
        "wires": []
    },
    {
        "id": "c277fd8ced2afbd9",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "76ca12dfbd3925a1",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "1453723bda5002fa",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "623e9dbbf303c91d",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "078123eb139e6a65",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b8f339ba5cae2574",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "0d7ee384b74d0a52",
        "type": "ui_spacer",
        "z": "629533657b8ed4f8",
        "name": "spacer",
        "group": "b96e4892393a84b2",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "b96e4892393a84b2",
        "type": "ui_group",
        "name": "Controller",
        "tab": "2b954120372cd2a7",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "81c60148ef0e94b6",
        "type": "mqtt-broker",
        "name": "Led Channel",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "EBI4PAcNOQwGMBsNLDULNSQ",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c4e23b91fd7ba889",
        "type": "mqtt-broker",
        "name": "Nhom 3",
        "broker": "mqtt3.thingspeak.com",
        "port": "1883",
        "clientid": "LSouMREFNQwMLh46PT0jFCM",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5c1e8099cfb2d710",
        "type": "ui_group",
        "name": "Charts",
        "tab": "2b954120372cd2a7",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b954120372cd2a7",
        "type": "ui_tab",
        "name": "Nhóm 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]